<!DOCTYPE html>
<html>
<head>
	<title>Colleges list</title>
  <link rel="stylesheet" href="\static\main.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 ">
    <div class="wrapper wrapper--w680">
      <div class="card card-4 ">
          <div class="card-body">
              <h1 class="title">College Predictor</h1>
              <p style="font-size: smaller;"><b>NOTE:</b>These results are not 100% accurate but can give you an good estimate.Personal research is encouraged.</p>
                <br><br>
                <p style="font-size: medium;">Hey {{name}},These are your colleges based on 2021 CUTOFF</p>
                  <table>
                    <tr>
                      <th>COLLEGE</th>
                      <th>CUTOFF</th>
                    </tr>
                    {% for i,j in l1.items() %}
                    <tr>
                      <td>{{i}}</td>
                      <td><div class="r">{{j}}</div></td>
                    </tr>
                    {% endfor %}
                  </table>
                  <br>
                  <br>
                  Contributers:<a href="https://www.linkedin.com/in/hanok-erugurala-4a604b27a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">@barney</a>,<a href="https://www.linkedin.com/in/samrath-reddy-74103824a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">@oxrogerthat</a>,<a href="https://www.linkedin.com/in/koushik-reddy-ab7b5a251?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">@tryhard19</a>
          </div>
      </div>
  </div>
</body>

</html>
